/* BASIC STYLES HERE */


.body {

    background-size: cover;
    background-position: center;
}

.author {

    opacity: 0;
    visibility: hidden;
    transition: ease-in-out .50s;
}

.opCard :hover+.author {
    opacity: .75;
    visibility: visible;

}

.opCard {
    opacity: .5;
    font-weight: bold;
}

#weatherCard {
    opacity: .5;
    width: 25vh;

}

.clockCard {
    opacity: .5;
}

.clock {
    text-shadow: 20px, 20px, black;
}